
.searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgb(236, 236, 236);

    .searchButton {
        height: 40px;
        border: 0;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        background-color: #ffad48;
        padding: 0 15px;
        color: #000;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
    }
}

.search {
    display: block;
    height: 40px;
    width: 500px;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 0 0 0 15px;
    font-size: 14px;
    outline: none;
}

.weatherBox {
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;

    .weatherContent {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .today {
        display: flex;
        align-items: center;
        min-width: 420px;
        padding: 0 20px;
        margin-bottom: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        font-size: 24px;

        .todayGroup {
            display: flex;
            flex-direction: column;
            margin-right: 30px;
        }

        .currentDay {
            font-size: 16px;
            margin-bottom: 5px;
        }
        .city {
            font-size: 26px;
            font-weight: 600;
        }
        .weather {
            display: flex;
            align-items: center;
        }
    }

    .future {
        display: flex;
        align-items: center;
        min-width: 420px;
        margin-top: 5px;
        padding: 10px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

        .nextDate {
            min-width: 120px;
            margin-right: 15px;
        }

        .nextIcon {
            width: 50px;
        }
        
        .dayNight {
            margin-right: 25px;
        }
    }
}

.back {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    background-color: rgb(236, 236, 236);

    .backLink {
        text-decoration: none;
        color: #000;
    }
}